#form{
    transition: margin 0.5s;
}
#main{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

#form{
    width: 272px;
    margin-right: -272px;
}
#form.show{
    margin-right: 0;

}